#data.content
  .navigation
    = link_to "Dashboard", subscription_path(subscription)
    = link_to h(account.name), account_path(account)

  %h2 Previous Statements

  - if statements.empty?
    %p== You have not yet balanced this account against any statements from your financial institution. You may start by clicking #{link_to("here", new_account_statement_path(account))}, to begin balancing this account.

  - else
    %ul
      - statements.each do |statement|
        %li
          = link_to(statement.occurred_on.strftime("%Y-%m-%d"), statement_path(statement))
          = ":"
          = format_cents(statement.ending_balance)
