%tr.zoom{:id => dom_id(event, :zoomed)}
  %td.zoom{:colspan => 4}
    .detail
      %table
        - reset_cycle('expanded'); event.line_items.each do |item|
          %tr{:class => cycle('odd', 'even', :name => 'expanded')}
            %td= link_to(h(item.account.name), item.account)
            %td= link_to(h(item.bucket.name), item.bucket)
            %td.number= item.amount > 0 ? format_amount(item.amount) : ""
            %td.negative.number= item.amount < 0 ? format_amount(item.amount) : ""

      - if event.tags.any?
        %p.tags= ("&#x2713; " + tag_links_for(event)).html_safe

      - if event.memo.present?
        %p.memo&= event.memo

