<tr class="zoom" id="<%= dom_id(event, :zoomed) %>">
  <td class="zoom" colspan="4">
    <table>
      <% reset_cycle('expanded'); event.line_items.each do |item| %>
        <tr class="<%= cycle('odd', 'even', :name => 'expanded') %>">
          <td><%= link_to(h(item.account.name), item.account) %></td>
          <td><%= link_to(h(item.bucket.name), item.bucket) %></td>
          <td class="number"><%= item.amount > 0 ? format_amount(item.amount) : "" %></td>
          <td class="negative number"><%= item.amount < 0 ? format_amount(item.amount) : "" %></td>
        </tr>
      <% end %>
    </table>
  </td>
</tr>
