%p#tags_collapsed{:style => event_has_tags? ? "display: none" : nil}
  &rarr;
  = link_to_function "I'd like to add tags for this transaction...", "Events.revealTags()"

%fieldset#tags{:style => event_has_tags? ? nil : "display: none"}
  %legend Tags

  %p
    Tags for this transaction:
    %br/
    = text_field_tag "event[tags][list]", tag_list_for_event, :style => "width: 95%"
    %br/
    %small Enter tag names, separated by commas, that will apply to this entire transaction.

  %p#tag_items_collapsed{:style => event_has_partial_tags? ? "display: none" : nil}
    &rarr;
    = link_to_function "I'd like to add tags for parts of this transaction...", "Events.revealPartialTags()"

  #tag_items{:style => event_has_partial_tags? ? nil : "display: none"}
    %p Specify an amount for each tag. That amount will then be marked by that tag.

    %ol#tagged_items
      - for_each_partial_tagged_item do |item|
        %li= render :partial => "events/tagged_item", :locals => { :tagged_item => item }

    %p= link_to_function "More tags, please!", "Events.addTaggedItem()"
