<script type="text/javascript">
  Events.accounts = { <%= accounts_and_buckets_as_javascript %> };
</script>

<div id="templates" style="display: none">
  <% %w(payment_source credit_options deposit transfer_from transfer_to).each do |section| %>
    <span id="template.<%= section %>">
      <%= render :partial => "events/line_item", :locals => { :section => section } %>
    </span>
  <% end %>
</div>

<% form_for(:event, event_for_form, :url => events_path, :html => { :id => "event_form", :onsubmit => "Events.submit(this); return false" }) do |form| %>
  <div id="success_notice" class="notice" style="display: none;">
    <p>Your transaction has been recorded. You may enter another one, or <%= link_to_function "close this form", "Events.cancel()" %>.</p>
  </div>

  <% form_sections.each do |section| %>
    <%= render :partial => "events/form_#{section}", :locals => { :form => form } %>
  <% end %>

  <p><input type="submit" value="Record this transaction"> or <%= link_to_function "cancel", "Events.cancel()" %></p>
<% end %>
