%fieldset{:id => section, :style => section_visible_for_event?(section) ? nil : "display: none"}
  %legend= title

  %p
    = account_prompt.html_safe
    = select_account(section, accounts, selected_account && selected_account.id)
    - if section_wants_check_options?(section)
      %span{:id => "#{section}.check_options", :style => visible?(check_options_visible_for?(section))}
        == <strong>Check #</strong>#{form.text_field :check_number, :size => 6}
    - if section_wants_repayment_options?(section)
      %span.repayment_options{:id => "#{section}.repayment_options", :style => visible?(repayment_options_visible_for?(section))}
        = "&rarr; " + link_to("Specify repayment options", "#", onclick: "Events.showRepaymentOptions('#{section}')")

  - if section_has_single_bucket?(section)
    %p{:id => "#{section}.single_bucket"}
      = single_bucket_prompt.html_safe
      = select_bucket(section, :line_item => line_item_for_section(section))
      - if section == :credit_options
        %br/
        %small Money from this bucket will be transferred to an "Aside" bucket, to be used later to pay off this credit.

  %div{:id => "#{section}.multiple_buckets", :style => multi_bucket_visibility_for(section)}
    %p
      = multi_bucket_prompt.html_safe
      %span{:id => "#{section}.unassigned"}
    %ol{:id => "#{section}.line_items"}
      - for_each_line_item_in(section) do |item|
        %li= render :partial => "events/line_item", :object => item, :locals => { :section => section }
    %p= link_to "More buckets, please!", "#", onclick: "Events.addLineItemTo('#{section}', true)"
