<script type="text/javascript">
  Events.accounts = { <%= accounts_and_buckets_as_javascript %> };
</script>

<div id="templates" style="display: none">
  <span id="template.payment_source">
    <%= render :partial => "events/line_item", :locals => { :section => :payment_source } %>
  </span>

  <span id="template.credit_options">
    <%= render :partial => "events/line_item", :locals => { :section => :credit_options } %>
  </span>

  <span id="template.deposit">
    <%= render :partial => "events/line_item", :locals => { :section => :deposit } %>
  </span>
</div>

<% form_for(:event, event_for_form, :url => events_path, :html => { :id => "event_form", :onsubmit => "Events.submit(this); return false" }) do |form| %>
  <fieldset id="general_information">
    <legend>General Information</legend>

    <p>
      <span class="expense_label"><strong>When</strong> did this expense occur?</span>
      <span class="deposit_label"><strong>When</strong> did this deposit occur?</span>
      <%= form.text_field :occurred_on, :size => 10 %>
    </p>
    <p>
      <span class="expense_label"><strong>How much</strong> was paid?</span>
      <span class="deposit_label"><strong>How much</strong> was deposited?</span>
      $<%= text_field_tag :amount, "", :size => 8, :id => "expense_total", :class => "number", :onchange => "Events.updateUnassigned()" %>
    </p>
    <p>
      <span class="expense_label"><strong>Who</strong> received the payment?</span>
      <span class="deposit_label"><strong>What</strong> was this deposit for?</span>
      <%= form.text_field :actor, :size => 30 %>
      </p>
  </fieldset>

  <fieldset id="payment_source">
    <legend>Payment Source</legend>

    <p>
      <strong>Which account</strong> was this drawn from? <%= select_account(:payment_source) %>
      <span id="check_options" style="display: none">
        <strong>Check #</strong><%= form.text_field :check_number, :size => 6 %>
      </span>
    </p>

    <p id="payment_source.single_bucket"><strong>Which bucket</strong> was this drawn from? <%= select_bucket(:payment_source) %></p>

    <div id="payment_source.multiple_buckets" style="display: none">
      <p>This expense drew from multiple buckets. <span id="payment_source.unassigned"></span></p>
      <ol id="payment_source.line_items">
      </ol>
      <p><%= link_to_function "More buckets, please!", "Events.addLineItemTo('payment_source', true)" %></p>
    </div>
  </fieldset>

  <fieldset id="credit_options" style="display: none">
    <legend>Repayment Options</legend>

    <p><strong>Which account</strong> will be used to <strong>repay this credit</strong>? <%= select_account(:credit_options) { |a| a.role == "checking" } %></p>
    <p id="credit_options.single_bucket">
      <strong>Which bucket</strong> will be used to <strong>repay this credit</strong>? <%= select_bucket(:credit_options) %><br />
      <small>Money from this bucket will be transferred to an "Aside" bucket, to be used later to pay off this credit.</small>
    </p>

    <div id="credit_options.multiple_buckets" style="display: none">
      <p>Multiple buckets will be used to repay this credit. <span id="credit_options.unassigned"></span></p>
      <ol id="credit_options.line_items">
      </ol>
      <p><%= link_to_function "More buckets, please!", "Events.addLineItemTo('credit_options', true)" %></p>
    </div>
  </fieldset>

  <fieldset id="deposit" style="display: none">
    <legend>Deposit Information</legend>

    <p>
      <strong>Which account</strong> was this deposited to? <%= select_account(:deposit) %>
    </p>

    <p id="deposit.single_bucket"><strong>Which bucket</strong> was this deposited to? <%= select_bucket(:deposit) %></p>

    <div id="deposit.multiple_buckets" style="display: none">
      <p>This deposit was to multiple buckets. <span id="deposit.unassigned"></span></p>
      <ol id="deposit.line_items">
      </ol>
      <p><%= link_to_function "More buckets, please!", "Events.addLineItemTo('deposit', true)" %></p>
    </div>
  </fieldset>

  <p><input type="submit" value="Record this expense"> or <%= link_to_function "cancel", "Events.cancel()" %></p>
<% end %>
