%fieldset#general_information
  %legend General Information

  %p
    %span.expense_label <strong>When</strong> did this expense occur?
    %span.deposit_label <strong>When</strong> did this deposit occur?
    %span.transfer_label <strong>When</strong> did this transfer occur?
    = form.calendar_date_select :occurred_on, :size => 10

  %p
    %span.expense_label <strong>How much</strong> was paid?
    %span.deposit_label <strong>How much</strong> was deposited?
    %span.transfer_label <strong>How much</strong> was transferred?
    == $#{text_field_tag :amount, event_amount_value, :size => 8, :id => "expense_total", :class => "number", :onchange => "Events.updateUnassigned()"}

  %p
    %span.expense_label <strong>Who</strong> received the payment?
    %span.deposit_label <strong>Where</strong> did this deposit come from?
    %span.transfer_label <strong>What</strong> was this transfer for?
    = form.text_field :actor, :size => 30

  %p#memo_link{:style => visible?(!event_wants_memo?)}
    <strong>Got more to say?</strong>
    = link_to_function "Add a more verbose description...", "Events.revealMemo()"

  %p#memo{:style => visible?(event_wants_memo?)}
    Describe this transaction:
    %br
    = form.text_area :memo, :rows => 2, :cols => 70
