<script type="text/javascript">
  Events.accounts = { <%= accounts_and_buckets_as_javascript %> };
</script>

<div id="templates" style="display: none">
  <% %w(payment_source credit_options deposit transfer_from transfer_to).each do |section| %>
    <span id="template.<%= section %>">
      <%= render :partial => "events/line_item", :locals => { :section => section } %>
    </span>
  <% end %>
</div>

<% form_for(:event, event_for_form, :url => events_path, :html => { :id => "event_form", :onsubmit => "Events.submit(this); return false" }) do |form| %>
  <fieldset id="general_information">
    <legend>General Information</legend>

    <p>
      <span class="expense_label"><strong>When</strong> did this expense occur?</span>
      <span class="deposit_label"><strong>When</strong> did this deposit occur?</span>
      <span class="transfer_label"><strong>When</strong> did this transfer occur?</span>
      <%= form.text_field :occurred_on, :size => 10 %>
    </p>
    <p>
      <span class="expense_label"><strong>How much</strong> was paid?</span>
      <span class="deposit_label"><strong>How much</strong> was deposited?</span>
      <span class="transfer_label"><strong>How much</strong> was transferred?</span>
      $<%= text_field_tag :amount, "", :size => 8, :id => "expense_total", :class => "number", :onchange => "Events.updateUnassigned()" %>
    </p>
    <p>
      <span class="expense_label"><strong>Who</strong> received the payment?</span>
      <span class="deposit_label"><strong>What</strong> was this deposit for?</span>
      <span class="transfer_label"><strong>What</strong> was this transfer for?</span>
      <%= form.text_field :actor, :size => 30 %>
    </p>
    <p id="check_options" style="display: none">
      <strong>Check number</strong> (if any): <%= form.text_field :check_number, :size => 6 %>
    </p>
  </fieldset>

  <fieldset id="payment_source">
    <legend>Payment Source</legend>

    <p>
      <strong>Which account</strong> was this drawn from? <%= select_account(:payment_source) %>
    </p>

    <p id="payment_source.single_bucket"><strong>Which bucket</strong> was this drawn from? <%= select_bucket(:payment_source) %></p>

    <div id="payment_source.multiple_buckets" style="display: none">
      <p>This expense drew from multiple buckets. <span id="payment_source.unassigned"></span></p>
      <ol id="payment_source.line_items">
      </ol>
      <p><%= link_to_function "More buckets, please!", "Events.addLineItemTo('payment_source', true)" %></p>
    </div>
  </fieldset>

  <fieldset id="credit_options" style="display: none">
    <legend>Repayment Options</legend>

    <p><strong>Which account</strong> will be used to <strong>repay this credit</strong>? <%= select_account(:credit_options) { |a| a.role == "checking" } %></p>
    <p id="credit_options.single_bucket">
      <strong>Which bucket</strong> will be used to <strong>repay this credit</strong>? <%= select_bucket(:credit_options) %><br />
      <small>Money from this bucket will be transferred to an "Aside" bucket, to be used later to pay off this credit.</small>
    </p>

    <div id="credit_options.multiple_buckets" style="display: none">
      <p>Multiple buckets will be used to repay this credit. <span id="credit_options.unassigned"></span></p>
      <ol id="credit_options.line_items">
      </ol>
      <p><%= link_to_function "More buckets, please!", "Events.addLineItemTo('credit_options', true)" %></p>
    </div>
  </fieldset>

  <fieldset id="deposit" style="display: none">
    <legend>Deposit Information</legend>

    <p>
      <strong>Which account</strong> was this deposited to? <%= select_account(:deposit) %>
    </p>

    <p id="deposit.single_bucket"><strong>Which bucket</strong> was this deposited to? <%= select_bucket(:deposit) %></p>

    <div id="deposit.multiple_buckets" style="display: none">
      <p>This deposit was to multiple buckets. <span id="deposit.unassigned"></span></p>
      <ol id="deposit.line_items">
      </ol>
      <p><%= link_to_function "More buckets, please!", "Events.addLineItemTo('deposit', true)" %></p>
    </div>
  </fieldset>

  <fieldset id="transfer_from" style="display: none">
    <legend>Transfer Source</legend>

    <p>
      <strong>Which account</strong> were funds transferred <strong>from</strong>? <%= select_account(:transfer_from) %>
    </p>

    <p id="transfer_from.single_bucket"><strong>Which bucket</strong> were funds transferred from? <%= select_bucket(:transfer_from) %></p>

    <div id="transfer_from.multiple_buckets" style="display: none">
      <p>This transfer pulled from multiple buckets. <span id="transfer_from.unassigned"></span></p>
      <ol id="transfer_from.line_items">
      </ol>
      <p><%= link_to_function "More buckets, please!", "Events.addLineItemTo('transfer_from', true)" %></p>
    </div>
  </fieldset>

  <fieldset id="transfer_to" style="display: none">
    <legend>Transfer Destination</legend>

    <p>
      <strong>Which account</strong> were funds transferred <strong>to</strong>? <%= select_account(:transfer_to) %>
    </p>

    <p id="transfer_to.single_bucket"><strong>Which bucket</strong> were funds transferred to? <%= select_bucket(:transfer_to) %></p>

    <div id="transfer_to.multiple_buckets" style="display: none">
      <p>This transfer targetted from multiple buckets. <span id="transfer_to.unassigned"></span></p>
      <ol id="transfer_to.line_items">
      </ol>
      <p><%= link_to_function "More buckets, please!", "Events.addLineItemTo('transfer_to', true)" %></p>
    </div>
  </fieldset>

  <p><input type="submit" value="Record this transaction"> or <%= link_to_function "cancel", "Events.cancel()" %></p>
<% end %>
