%tr{:id => dom_id(event), :class => cycle('odd', 'even'), :onmouseover => "Events.onMouseOver(#{event.id})", :onmouseout => "Events.onMouseOut(#{event.id})"}

  %td.date
    %div.nubbin{:id => dom_id(event, :nubbin), :style => "display: none"}
      = link_to("&#x270e;", edit_event_path(event, :return_to => request.request_uri)) + "|"
      = link_to_remote("&#x2716;", :url => event_path(event, :from => current_location), :method => :delete, :confirm => "Are you sure you want to delete this event?") + "|"
      = link_to_remote("&#x24d8;", :url => event_path(event), :method => :get, :before => "Events.expand(#{event.id})", :html => { :class => "zoom" })
      %span.zooming &#x231b;
      = link_to_function("&#x2713;", "Events.collapse(#{event.id})", :class => "zoomed")
    = event.occurred_on.strftime("%Y-%m-%d")

  %td
    &= event.actor
    - if account_links
      %br/
      %span.account_links= links_to_accounts_for_event(event)

  %td.number= amount > 0 ? format_amount(amount) : ""

  %td.negative.number= amount < 0 ? format_amount(amount) : ""
