%tr{:id => dom_id(event), :class => cycle('odd', 'even'), :onmouseover => "Events.onMouseOver(#{event.id})", :onmouseout => "Events.onMouseOut(#{event.id})"}

  %td.date= event.occurred_on.strftime("%Y-%m-%d")

  %td
    .nubbin{:id => dom_id(event, :nubbin), :style => "display: none"}
      = link_to_function("&#x270e;", "Events.edit(#{edit_event_path(event).to_json})")
      = link_to_function("&#x2716;", "Events.deleteEvent(#{event_path(event).to_json}, #{form_authenticity_token.to_json})")
      = link_to_remote("&#x24d8;", :url => event_path(event), :method => :get, :before => "Events.expand(#{event.id})", :html => { :class => "zoom" })
      %span.zooming &#x231b;
      = link_to_function("&#x2713;", "Events.collapse(#{event.id})", :class => "zoomed")
    &= event.actor_name
    - if event.check_number.present?
      %span.check== ##{event.check_number}
    - if account_links
      %br/
      %span.account_links= links_to_accounts_for_event(event)

  %td.number= amount > 0 ? format_amount(amount) : ""

  %td.negative.number= amount < 0 ? format_amount(amount) : ""
