%tr{:id => dom_id(event), :class => cycle('odd', 'even'), :onmouseover => "Events.onMouseOver(#{event.id})", :onmouseout => "Events.onMouseOut(#{event.id})"}

  %td.date= event.occurred_on.strftime("%Y-%m-%d")

  %td
    .nubbin{:id => dom_id(event, :nubbin), :style => "display: none"}
      = link_to("&#x270e;".html_safe, "#", onclick: "Events.edit(#{edit_event_path(event).to_json})")
      = link_to("&#x2716;".html_safe, "#", onclick: "Events.deleteEvent(#{event_path(event).to_json}, #{form_authenticity_token.to_json})")
      = link_to("&#x24d8;".html_safe, '#', onclick: "new Ajax.Request('#{event_path(event)}', {asynchronous:true, evalScripts:true, method:'get'}); return false;")

      %span.zooming &#x231b;
      = link_to("&#x2713;".html_safe, "#", onclick: "Events.collapse(#{event.id})", :class => "zoomed")
    &= event.actor_name
    - if event.check_number.present?
      %span.check== ##{event.check_number}
    - if account_links
      %br/
      %span.account_links= links_to_accounts_for_event(event)

  %td.number= amount > 0 ? format_amount(amount) : ""

  %td.negative.number= amount < 0 ? format_amount(amount) : ""
