.nubbin{:id => dom_id(bucket, :nubbin), :style => "display: none"}
  = link_to("+", "#", onclick: "Buckets.transferTo(#{bucket.account_id}, #{bucket.id})", :class => "button")
  = link_to("-", "#", onclick: "Buckets.transferFrom(#{bucket.account_id}, #{bucket.id})", :class => "button")
  = link_to("&#x270e;".html_safe, "#", onclick: "Buckets.rename(#{bucket_path(bucket).to_json}, #{bucket.name.to_json}, #{form_authenticity_token.to_json})", :class => "button")
= link_to(h(bucket.name), bucket, :class => "bucket")
