#data.content
  %h2
    == #{link_to(h(bucket.account.name), bucket.account)}:
    &= bucket.name
    = back_to_dashboard_link

  %table.entries
    = render :partial => "events/balance", :locals => { :container => bucket }
    = render(@items)
