#links.header{:style => visible?(!blank_slate?)}
  %h2== Record a new |
      #{link_to_function "expense", "Events.revealExpenseForm()", :id => "expense_link"}, |
      #{link_to_function "deposit", "Events.revealDepositForm()", :id => "deposit_link"}, or |
      #{link_to_function "transfer", "Events.revealTransferForm()", :id => "transfer_link"} |

#new_event.transaction.form{:style => "display: none"}= render :partial => "events/form"

- if blank_slate?
  #blankslate= render :partial => "blank_slate"

#new_account.form{:style => "display: none"}= render :partial => "accounts/form"

#data.content{:style => visible?(!blank_slate?)}
  %h2 Recent transactions

  %table#recent_entries.entries= render(subscription.events.recent.last)

  %h2#accounts_summary_header
    %span.actions= link_to_function "Add an account", "Accounts.revealForm()"
    Accounts summary

  %table#accounts_summary= render(subscription.accounts)

  - if subscription.tags.any?
    %h2 Tags
    = render :partial => "tags/cloud"
