<div class="header">
  <h2 id="links">Record a new <%= link_to_function "expense", "Events.revealExpenseForm()" %> or <a href="">deposit</a></h2>
</div>

<div class="transaction" id="new_expense" style="display: none">
  <%= render :partial => "events/form" %>
</div>

<div id="data" class="content">
  <table class="entries">
    <tr><th colspan="5">Recent Transactions</th></tr>
    <tr class="odd">
      <td class="date">2009-02-22</td>
      <td class="expand"><a href="#">[+]</a></td>
      <td>Costco</td>
      <td class="number"></td>
      <td class="negative number">$14.37</td>
    </tr>
    <tr class="even">
      <td class="date">2009-02-22</td>
      <td class="expand"><a href="#">[+]</a></td>
      <td>Transfer</td>
      <td class="number">$2,500.00</td>
      <td class="negative number">$2,500.00</td>
    </tr>
    <tr class="odd zoomed">
      <td class="date">2009-02-22</td>
      <td class="expand"><a href="#">[-]</a></td>
      <td>Reallocation</td>
      <td class="number"></td>
      <td class="negative number"></td>
    </tr>
    <tr class="zoom">
      <td class="zoom" colspan="5">
        <table>
          <tr class="odd">
            <td><a href="#">Checking</a></td>
            <td><a href="#">Groceries</a></td>
            <td class="number"></td>
            <td class="negative number">$150.00</td>
          </tr>
          <tr class="even">
            <td><a href="#">Checking</a></td>
            <td><a href="#">Auto</a></td>
            <td class="number">$75.00</td>
            <td class="negative number"></td>
          </tr>
          <tr class="odd">
            <td><a href="#">Checking</a></td>
            <td><a href="#">Medical</a></td>
            <td class="number">$75.00</td>
            <td class="negative number"></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="even zoomed">
      <td class="date">2009-02-22</td>
      <td class="expand"><a href="#">[-]</a></td>
      <td>Chevron</td>
      <td class="number"></td>
      <td class="negative number">$48.18</td>
    </tr>
    <tr class="zoom">
      <td class="zoom" colspan="5">
        <table>
          <tr class="odd">
            <td><a href="#">Checking</a></td>
            <td><a href="#">Groceries</a></td>
            <td class="number"></td>
            <td class="negative number">$11.91</td>
          </tr>
          <tr class="even">
            <td><a href="#">Checking</a></td>
            <td><a href="#">Auto:Fuel</a></td>
            <td class="number"></td>
            <td class="negative number">$28.07</td>
          </tr>
          <tr class="odd">
            <td><a href="#">Checking</a></td>
            <td><a href="#">Dining</a></td>
            <td class="number"></td>
            <td class="negative number">$8.20</td>
          </tr>
          <tr class="even">
            <td><a href="#">Checking</a></td>
            <td><a href="#">Aside</a></td>
            <td class="number">$48.18</td>
            <td class="negative number"></td>
          </tr>
          <tr class="odd">
            <td><a href="#">Mastercard</a></td>
            <td><a href="#">General</a></td>
            <td class="number"></td>
            <td class="negative number">$48.18</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="odd">
      <td class="date">2009-02-22</td>
      <td class="expand"><a href="#">[+]</a></td>
      <td>Deposit</td>
      <td class="number">$200.00</td>
      <td class="negative number"></td>
    </tr>
  </table>

  <table>
    <% @subscription.accounts.each do |account| %>
      <tr class="account">
        <th><%= link_to(account.name, account) %></th>
        <%= balance_cell(account, "total") %>
      </tr>
      <% reset_cycle; account.buckets.each do |bucket| %>
        <tr class="bucket <%= cycle('odd', 'even') %>">
          <td><%= link_to(bucket.name, bucket) %></td>
          <%= balance_cell(bucket) %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
