!!!
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title Summary
    = stylesheet_link_tag "money"
    = javascript_include_tag :all
    = calendar_date_select_includes "default"

  %body
    :javascript
      Events.source = #{current_location.to_json};

    #header
      %h1
        %span.actions
          = link_to "logout", session_path, :method => :delete
        BucketWise

    #container
      = yield
      #version
        == BucketWise version: <span class="version">v#{BucketWise::Version::STRING} (rev #{application_revision})</span>
        %br
        == Last deployed: <span class="version">#{application_last_deployed}</span>
