!!!
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title Summary
    = stylesheet_link_tag "money"
    = javascript_include_tag :all
    = calendar_date_select_includes "default"

  %body
    #header
      %h1
        %span.actions
          = link_to "logout", session_path, :method => :delete
        Buckets
    #container= yield
