!!!
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title BucketWise
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag :application

  %body
    :javascript
      Events.source = "#{current_location}";

    #header
      %h1
        %span.actions
          = link_to "log out", logout_session_path, :method => :delete
        %span.title
          = link_to "BucketWise", root_path

    #container
      = yield
      #version
        == BucketWise version: <span class="version">v#{BucketWise::Version::STRING} (rev <a href="https://github.com/jamis/bucketwise/commit/#{application_revision}">#{application_revision}</a>)</span>
        %br
        == Last deployed: <span class="version">#{application_last_deployed}</span>
