<tr class="account" id="<%= dom_id(account) %>">
  <th><%= link_to(account.name, account) %></th>
  <%= balance_cell(account, :classes => "total") %>
</tr>
<% reset_cycle %>
<%= render(account.buckets.recent) %>
<% if account.buckets.length > 5 %>
  <tr class="bucket">
    <td colspan="2" class="more">
      &rarr;
      <%= link_to "See all #{account.buckets.length} buckets", account_buckets_path(account) %>
    </td>
  </tr>
<% end %>
