<tr class="account" id="<%= dom_id(account) %>">
  <th><%= link_to(account.name, account) %></th>
  <%= balance_cell(account, "total") %>
</tr>
<% reset_cycle; account.buckets.each do |bucket| %>
  <tr class="bucket <%= cycle('odd', 'even') %>">
    <td><%= link_to(bucket.name, bucket) %></td>
    <%= balance_cell(bucket) %>
  </tr>
<% end %>
