- remote_form_for(:account, :url => accounts_path, :html => { :onsubmit => "if(!Accounts.submit()) return false", :id => "new_account_form" }) do |form|
  %fieldset
    %legend Account info

    %p
      %label{:for => "account_name"} <strong>Choose a name</strong> for this account:
      = form.text_field :name, :class => "text"

    %p
      %label
        <strong>What kind</strong> of account is this?
        = form.select :role, [["Checking", "checking"], ["Credit card", "credit-card"], ["Other", "other"]]

  - if form.object.nil? || form.object.new_record?
    - form.fields_for :starting_balance do |balance|

      %fieldset
        %legend Starting balance

        .instructions
          %p <b>Take a look at your latest statement for this account.</b>
          %p Note the <em>current balance</em> from the statement, as |
            well as the <em>date the statement was issued</em>, and enter |
            them below. |
        = balance.hidden_field :amount

        %p
          %label
            What is the <strong>current balance</strong>:
            == $#{text_field_tag :current_balance, "", :class => "number", :size => 8}

        %p
          %label
            <strong>When</strong> was the statement issued:
            = balance.text_field :occurred_on, :value => Date.today, :size => 9

  %p
    = submit_tag "Create this account"
    or
    = link_to_function "cancel", "Accounts.hideForm()"
