#data.content
  .navigation
    = link_to "Dashboard", subscription_path(subscription)
    = link_to "Buckets in #{h(account.name)}", account_buckets_path(account), :id => dom_id(account, :buckets)

  %h2{:id => dom_id(account, :name)}= render :partial => "accounts/name"

  %table.entries
    = render :partial => "events/balance", :locals => { :container => account }
    = render(@items)
